@{
    ViewBag.Title = ApplicationStrings.InputLambda;
}

<h2>@ApplicationStrings.InputLambda</h2>
@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" value="@ApplicationStrings.Next" />
}